@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700");
@import url("normalize.css");
/*modules*/
* {
  font-family: 'Montserrat', sans-serif; }

ul, li {
  margin: 0;
  padding: 0;
  list-style: none; }

html, body {
  width: 100%;
  height: 100%;
  background: #F5F7F8; }

.container {
  min-width: 1440px;
  padding-left: 42px; }

section {
  margin-top: 18px; }

.section__title {
  font-size: 20px;
  font-weight: 700;
  color: #3C495B;
  margin-bottom: 26px; }

header {
  background: #fff; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0px;
  position: relative; }
  .header-logo {
    width: 310px;
    border-right: 1px solid #F3F3F3; }
    .header-logo img {
      float: left;
      padding-top: 2px;
      margin-right: 23px; }
    .header-logo__title {
      font-weight: 700;
      font-size: 17px;
      text-transform: uppercase;
      color: #FFC400; }
      .header-logo__title span {
        color: #000; }
    .header-logo__text {
      margin-top: -6px;
      font-size: 12px;
      letter-spacing: 0.05em;
      color: #000; }
  .header .img-search {
    margin: 10px 27px 0 38px;
    width: 16px;
    height: 16px;
    background: url("../img/snip.png") no-repeat;
    background-position: -50px -25px; }
  .header__search {
    margin-top: -4px;
    margin-right: 20px;
    width: 550px;
    border: none;
    font-size: 14px; }
    .header__search:focus {
      outline: none; }
  .header__link {
    margin-right: 69px;
    padding-top: 10px;
    font-size: 14px;
    color: #000; }
    .header__link:hover {
      text-decoration: none;
      color: #000; }
  .header__button {
    margin-top: -1px;
    background: #fff;
    position: absolute;
    right: 22px;
    padding: 9px 23px;
    font-size: 14px;
    font-weight: 700;
    border: 1px solid #FFC400;
    border-radius: 6px; }
    .header__button:focus {
      outline: none; }

.cabinet {
  padding: 40px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #fff;
  width: 1360px;
  height: 188px;
  border-radius: 5px;
  position: relative;
  color: #3C495B; }
  .cabinet-user {
    width: 286px;
    border-right: 1px solid #F3F3F3; }
    .cabinet-user__photo {
      float: left;
      margin-right: 28px; }
    .cabinet-user__name {
      padding-top: 22px;
      font-weight: 700;
      margin-bottom: 12px; }
  .cabinet-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 74px; }
    .cabinet-contact .img-phone {
      display: block;
      width: 19px;
      height: 19px;
      margin: 0 auto;
      text-align: center;
      margin-bottom: 17px;
      background: url("../img/snip.png") no-repeat;
      background-position-x: -50px; }
    .cabinet-contact .img-mail {
      display: block;
      margin: 0 auto;
      text-align: center;
      width: 24px;
      height: 18px;
      margin-bottom: 17px;
      background: url("../img/snip.png") no-repeat;
      background-position: -50px -50px; }
    .cabinet-contact__phone {
      padding: 22px 40px;
      border-right: 1px solid #F3F3F3; }
    .cabinet-contact__email {
      padding: 22px 43px; }
  .cabinet-level {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 40px;
    width: 275px; }
    .cabinet-level__img {
      background: url("../img/circle.svg") no-repeat;
      padding: 30px 20px 0;
      width: 100px;
      height: 100px;
      margin-right: 26px;
      text-align: center;
      font-size: 12px; }
      .cabinet-level__img span {
        font-weight: 700;
        color: #FFC400;
        font-size: 16px; }
    .cabinet-level__name {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      width: 150px;
      font-weight: 500;
      padding-top: 17px;
      margin-bottom: 14px;
      font-size: 14px; }
      .cabinet-level__name span {
        font-size: 16px;
        font-weight: 700;
        line-height: 1.3; }
  .cabinet-edit {
    padding-top: 4px;
    position: absolute;
    right: 40px;
    text-align: right; }
    .cabinet-edit__link {
      display: block;
      margin-bottom: 17px;
      font-size: 14px;
      color: #3C495B;
      text-decoration: underline; }

.quest-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px; }
  .quest-menu a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 10px;
    padding-left: 15px;
    width: 265px;
    height: 43px;
    color: #C4C4C4;
    font-weight: 700;
    margin-right: 8px;
    text-decoration: none; }
    .quest-menu a:hover {
      background-color: #DFEAF2 !important;
      border-radius: 13px !important;
      color: #3C495B; }
      .quest-menu a:hover .img-calen {
        background-position-x: -50px; }
      .quest-menu a:hover .img-heart {
        background-position-y: 0px; }
      .quest-menu a:hover .img-check {
        background-position-x: -100px; }
  .quest-menu__upcoming .img-calen {
    width: 24px;
    height: 24px;
    margin-right: 15px;
    background: url("../img/snip.png");
    background-position-y: -100px; }
  .quest-menu__upcoming-active {
    background-color: #DFEAF2 !important;
    border-radius: 13px !important;
    color: #3C495B !important; }
    .quest-menu__upcoming-active .img-calen {
      background-position-x: -50px; }
  .quest-menu__favorite .img-heart {
    width: 23px;
    height: 23px;
    margin-right: 15px;
    background: url("../img/snip.png");
    background-position: -150px -50px; }
  .quest-menu__favorite-active {
    background-color: #DFEAF2 !important;
    border-radius: 13px !important;
    color: #3C495B !important; }
    .quest-menu__favorite-active .img-heart {
      background-position-y: 0px; }
  .quest-menu__passed .img-check {
    width: 22px;
    height: 22px;
    margin-right: 15px;
    background: url("../img/snip.png");
    background-position: -150px -100px; }
  .quest-menu__passed-active {
    background-color: #DFEAF2 !important;
    border-radius: 13px !important;
    color: #3C495B !important; }
    .quest-menu__passed-active .img-check {
      background-position-x: -100px; }

.upcoming {
  padding-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.upcoming-event {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #fff;
  width: 660px;
  height: 230px;
  border-radius: 5px;
  padding: 0 0 0 27px;
  position: relative;
  margin-bottom: 40px; }
  .upcoming-event:nth-child(odd) {
    margin-right: 40px; }
  .upcoming-event hr {
    position: absolute;
    top: 97px;
    left: 245px;
    width: 27px;
    height: 1px;
    color: #F3F3F3; }
  .upcoming-event-picture {
    padding-top: 30px;
    padding-right: 27px;
    width: 180px;
    border-right: 1px solid #F3F3F3; }
    .upcoming-event-picture img {
      padding-left: 25px;
      margin-bottom: 20px; }
    .upcoming-event-picture__button {
      background: #fff;
      width: 150px;
      height: 35px;
      font-size: 14px;
      font-weight: 700;
      color: #DE6A63;
      padding: 6px 10px;
      border: 1px solid #DE6A63;
      border-radius: 6px; }
      .upcoming-event-picture__button:focus {
        outline: none; }
  .upcoming-event-data {
    width: 400px;
    height: 52px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    color: #3C495B;
    margin-bottom: 76px; }
    .upcoming-event-data__time {
      margin-right: 120px;
      font-size: 18px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .upcoming-event-data__time .img-clock {
        margin: 0 12px;
        margin-top: 5px;
        width: 15px;
        height: 15px;
        background: url("../img/snip.png") no-repeat;
        background-position-y: -25px; }
    .upcoming-event-data__price {
      font-size: 20px; }
    .upcoming-event-data__time, .upcoming-event-data__price {
      font-weight: 700; }
    .upcoming-event-data__address {
      margin-right: 135px; }
    .upcoming-event-data__people {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .upcoming-event-data__people .img-user {
        margin-right: 16px;
        margin-top: 5px;
        width: 13px;
        height: 15px;
        background: url("../img/snip.png") no-repeat; }
  .upcoming-event-desc {
    width: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .upcoming-event-desc__text {
      width: 220px;
      font-size: 14px;
      margin-right: 54px; }
    .upcoming-event-desc__points {
      width: 120px;
      height: 35px;
      padding: 6px 0 0 6px;
      background-color: #FFF9E5;
      color: #F4BE0C;
      font-weight: 700;
      border-radius: 6px;
      font-size: 18px; }

.one-block {
  padding-top: 27px;
  padding-left: 38px; }

.favorite {
  padding-top: 36px;
  padding-left: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .favorite img {
    margin-bottom: 12px; }
  .favorite-event {
    width: 182px;
    height: 235px;
    margin-right: 54px;
    margin-bottom: 15px;
    background: #fff;
    border-radius: 5px;
    padding-top: 18px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    color: #3C495B;
    position: relative; }
    .favorite-event__point {
      position: absolute;
      bottom: 14px;
      right: 35px;
      width: 110px;
      height: 30px;
      padding-top: 4px;
      background-color: #FFF9E5;
      color: #F4BE0C;
      font-weight: 700;
      border-radius: 6px; }
    .favorite-event__name {
      padding: 0 30px; }
    .favorite-event__close {
      position: absolute;
      right: 9px;
      top: 6px;
      width: 25px;
      height: 25px;
      background: url("../img/snip.png");
      background-position-x: -100px;
      border: none; }
      .favorite-event__close:focus {
        outline: none; }

.passed {
  padding-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .passed-event {
    padding-right: 22px;
    padding-left: 36px;
    width: 658px;
    height: 172px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #fff;
    border-radius: 5px;
    position: relative;
    color: #3C495B;
    margin-bottom: 40px; }
    .passed-event:nth-child(odd) {
      margin-right: 45px; }
    .passed-event__logo {
      padding-top: 25px;
      padding-bottom: 39px;
      margin-right: 31px; }
    .passed-event span {
      font-size: 16px;
      font-weight: 700; }
    .passed-event__date {
      font-size: 18px;
      font-weight: 500; }
    .passed-event__name {
      font-size: 18px;
      font-weight: 700;
      margin-right: 14px;
      margin-bottom: 27px; }
    .passed-event__result {
      margin-bottom: 8px; }
      .passed-event__result .img-clock {
        margin-left: 20px;
        margin-right: 14px;
        background: url("../img/snip.png") no-repeat;
        background-position: 0 -25px;
        width: 15px;
        height: 15px; }
    .passed-event__credited .img-reward {
      margin-left: 16px;
      margin-right: 14px;
      background: url("../img/snip.png") no-repeat;
      background-position: 0 -50px;
      width: 13px;
      height: 18px; }
    .passed-event__result, .passed-event__credited {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      font-size: 14px;
      font-weight: 500; }
    .passed-event-block {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      width: 350px;
      padding-top: 25px;
      padding-bottom: 39px; }
    .passed-event-block2 {
      padding-top: 30px;
      padding-left: 26px;
      padding-bottom: 39px;
      border-left: 1px solid #F3F3F3; }
    .passed-event__reviews, .passed-event__photo {
      text-align: center;
      width: 138px;
      height: 35px;
      border: 1px solid #DEE1E4;
      border-radius: 6px;
      font-size: 14px;
      padding: 6px 16px; }
      .passed-event__reviews-not, .passed-event__photo-not {
        background: #F2F2F2;
        border: none; }
    .passed-event__reviews {
      margin-bottom: 38px; }
      .passed-event__reviews span {
        font-weight: bold;
        font-size: 14px;
        color: #4CC29E; }
      .passed-event__reviews-add {
        padding: 6px;
        font-weight: 700;
        border-color: #FFC400; }
    .passed-event hr {
      position: absolute;
      top: 48px;
      left: 175px;
      width: 27px;
      height: 1px; }
    .passed-event__end {
      margin-top: 20px;
      width: 144px;
      text-align: center;
      color: #DE6A63;
      font-weight: 700;
      z-index: 1; }
      .passed-event__end:before {
        content: '';
        position: absolute;
        width: 70%;
        height: 100%;
        top: 0;
        left: 0;
        background: #fff;
        opacity: 0.7;
        border-radius: 5px;
        z-index: 0; }
      .passed-event__end .img-close-red {
        background: url("../img/snip.png") no-repeat;
        background-position: -100px -50px;
        width: 35px;
        height: 35px;
        display: block;
        margin: 0 auto;
        margin-bottom: 4px; }
